$escura: #000;
$neutra: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: $neutra;
    font-family: 'Arimo';
    display: flex;
    flex-direction: column;
    background-color: #161616;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $neutra;
        font-size: 1.9rem;
        letter-spacing: 1px;
    }
}

main {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .galeria-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 0 15px;

        .galeria-itens {
            width: 340px;
            height: 340px;
            flex-grow: 1;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                transition: all .5s linear;
                border-radius: 10px;
                border: 5px solid #fff;

                &:hover {
                    filter: grayscale(0%);
                }
                /*

                    Estica o quanto ela puder até poder cortar
                
                */
            }
        }
    }

    .slide {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -999;
        opacity: 0;
        transition: opacity .5s linear;

        &:target {
            z-index: 999;
            opacity: 1;
        }

        .imagem-container {
            height: 90%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .fechar {
                position: absolute;
                top: 0;
                right: 0;
                color: $neutra;
                background-color: #161616;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                text-decoration: none;
                transition: all .5s linear;
                z-index: 3;

                &:hover {
                    background-color: red;
                }
            }

            .navigation {
                position: absolute;
                width: 60px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                color: $neutra;
                background-color: #0005;
                text-decoration: none;
                opacity: 0;
                transition: all .5s linear;

                &:hover {
                    opacity: 1;
                }
            }

            .anterior {
                left: 0;
            }

            .proximo {
                right: 0;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 50px;
    color: $neutra;
}